doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        div(id="container")
            each pic, picture in pictures
                div(class='containers')
                    img(src=pic alt=pic width='400' height='300')